body{
    margin:0;
    padding:0;
}
.background{
    position: absolute;
    background: rgb(26 26 26 / 85%);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.dark_theme_body{
    background-color: #1F1F1F!important;
}
.dark_theme_shade1{
    background-color: #0e0e0e!important;
}
.dark_theme_shade2{
    background-color: #444343!important;
}
.dark_theme_head{
    color: #DCDCDC!important;
}
.dark_theme_para{
    color: #959595!important;
}
.dark_theme_activelink{
    color: #dcdcdc!important ;
}


body h1,h2,p,summary,li,a,legend,button,i{
    font-family: roboto;
}
/* features box */
.features_box{
    position: fixed;
    align-items: center;
    bottom: 10vh;
    right: 0px;
    background-color: #9C3E1A;
    display: flex;
    border-radius: 5px 0px 0px 5px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.features_box div{
    cursor: pointer;
}
.features_icon{
    border-right: 1px solid white;
    padding: 10px 5px;
}
.features_box div:nth-child(1){
    margin: 0px;
}
.features_box div{
    margin: 0px 5px;
}


/* news */
.main_news{
    position: absolute;
    width: 100%;
    z-index: 2;
    display: none;
}
.main_news .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#efefef;
}
.main_news input[type='submit']{
    background-color: #cbcbcb;
    cursor: pointer;
}
.main_news input{
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.content_div{
    position: relative;
}
.main_news .content{
    width: 90%;
    height: 75vh;
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #efefef;
    border-radius: 20px;
    overflow-y: scroll;
}
.main_news .content_div .fa-close{
    float: right;
    font-size: 20px;
}
.main_news article{
    position: relative;
    width: 95%;
    height: fit-content;
    padding: 5px;
    margin: 10px auto;
    border-radius: 20px;
    background-color: white;
}
/* theme toggle */
.theme_btn{
    position: relative;
    cursor: pointer;
    color: white;
    border: none;
    overflow: hidden;
    transition: .8s;
}
.theme_btn i{
    justify-content: center;
}
#moonrise{
    color:white;
    transform:translate(0px,0px); 
    animation: cubic-bezier(0.22, 0.61, 0.36, 1);;
    transition: 1s;
}
#moonset{
    position: absolute;
    transform:translate(58px,77px);
    animation: cubic-bezier(0.22, 0.61, 0.36, 1);;
    transition: 1s;
}
#sunrise{
    color: orange!important;
    transform:translate(0px,0px);
    animation: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: 1s;
}
#sunset{
    position: absolute;
    color: rgb(211, 186, 139);
    transform:translate(66px,55px);
   animation: cubic-bezier(0.22, 0.61, 0.36, 1);
   transition: 1s;
} 

/* nav tooltip  */
.nav_btn .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .nav_btn .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #3D3E2A;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -19%;
    right: 72%;

  }
  
  .nav_btn .tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    top: 6%;
    right: -9%;
    margin-left: -5px;
    border-width: 12px;
    border-style: solid;
    border-color: #3D3E2A transparent transparent transparent;

}
  
  .nav_btn .tooltip:hover .tooltiptext {
    visibility: visible;
    transition: .1s;
  }


/* nav */
nav{
    /* background-color: rgba(169, 169, 169, 0.076); */
    padding: 0.5em;
}
nav a{
    text-decoration: none;
}
.primary_container{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

/* logo */
nav .logo{
    padding: 0.8em 0 0.5em 0;
}
nav .logo h2,p{
    padding: 0;
    margin: auto;  
    color: #3D3E2A; 
}
nav .logo p{
    font-size: 1em;
}
nav .logo h2{
    font-size: 2em;
}

/* nav_btn */
.nav_btn a #active{
    color: #3D3E2A;
    font-size:1.7em;
}
.nav_btn a #active:hover{
    color: #3D3E2A;
    font-size:1.7em;
    padding: 1em;
    transform: none;
}
.nav_btn i:hover{
    color: #3D3E2A;
    transform: scale(1.5);
    padding:1em 1.1em 1em 1.1em; 
    transition-duration: 0.1s;
}
.nav_btn a i{
    color:#636643;
    font-size: 1.2em;
    padding: 1em;
    margin-top: 5px;
    transition-duration: 0.1s;
}
.nav_btn a[title]{
    transition: 0s;
    animation: none;
}

/* banner */
.container {
    display: block;
}
.banner img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .banner_text{
    display: flex;
    flex-direction: column;
    padding: 0em 0em 0em 3em;
    margin-top: -7%;
}
.banner .inner{
    width:100%;
    justify-content:start;
    margin-top: 0px;
}
.banner_text #st{
    color: #3d3e2a;
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner_text #nd{
    color: #9C3E1A;
    font-size: 3em;
    margin-top: 0px;
}
#tempicon{
    margin-top:-40px;
}
.banner_text i{
    color: #598989;
    font-size: 20px;
}

/* latest stat */
.outerbox{
    display: block;
    padding-top: 4em;
}
.outerbox h2{
    width:fit-content;
    font-size: 1.8em;
    color: #3D3E2A;
    border-bottom: 1px solid #3D3E2A;
    margin: 0em 0em 2em 0em;
}
.inner_box{
    margin: 0px;
}
.inner_box details{
    color:#3D3E2A;
}
details p{
    padding:1em;

}
.inner_box summary{
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}
.readmore{
    display: block;
    margin: 0px;
    padding: 1em 1em 1em 0em;
    color: #9C3E1A;
    font-weight: 600;
}
.readmore a{
    color: #9C3E1A;
    text-decoration: none;
}
.readmore:hover i{
    margin-left: .5em;
    transition: 0.5s;
}
.inner_box img{
    width: 400px;
}

/* photo box */
.top_text h2{
    width: fit-content;
    margin: 1em auto 1em auto;
    font-size: 1.8em;
    color: #3D3E2A;
    border-bottom: 1px solid #3D3E2A;
    
}
.photobox{
    width: 100%;
    padding: 2em 0em;
    background-color: #3d3e2a20;
}
.swiper {
    width:1000px!important;
    height: 400px!important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 900px;
    object-fit: cover;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    display: none;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    display: none;
}

/*Contributer  */
.outercontributer{
    display: block;
    padding-bottom: 2em;
}
.innercontributer{
    margin: 0px;
}
fieldset legend{
    font-weight: 600;
    color: #3D3E2A;
    font-size: 1.2em
}
fieldset{
    width: fit-content;
}
.outercontributer h2{
    width:fit-content;
    font-size: 1.8em;
    color: #3D3E2A;
    border-bottom: 1px solid #3D3E2A;
    margin-bottom: 0;
}
.outercontributer p{
    margin: 0em 0em 2em 0em;
}


/* current page  */
.current_page{
    padding: 1em 0em 1em 0em;
    margin:auto;
}
.shade:nth-child(odd){
    background-color: #F5F5F4;
    padding: 20px;
    width: auto;
}
.current_page .info{
    width: 50%;
}
.current_page .info h2{
    border: none;
}

.current_page .top_text{
    padding: 1em;

}
.top_text h2{
    width: fit-content;
    margin: 1em auto 1em auto;
    font-size: 1.8em;
    color: #3D3E2A;
    border-bottom: 1px solid #3D3E2A;
    
}
.top_text p{
    text-align: center;
}

/* effort page */
.effort_page{
    display: block;

}
.effort_page .primary_container{
    flex-flow: wrap;
}
.effort_page details{
    padding: 1em;
    margin: .5em 0em;
    border: 1px dashed grey;
}
.effort_page fieldset img{
    width: 300px;
}

.effort_page .inner_box p{
    overflow: hidden;
}
.effort_page .box{
    padding-top: 1em;
    width: min-content;
}
/* individual effort page */
.individual_page{
    padding-top: 4em;
}
.individual_page ul li{
    font-size: 1.2em;
    font-weight: 600;
    color: #3D3E2A;
}
.individual_page .outerbox{
    padding-top: 0em;
}
table img{
    width: 150px!important;
}
.hashtag_box{
    display: flex;
    flex-flow: wrap;
    position: relative
}
.hashtag h2{
    padding: 1em;
    margin: 0px;
    color: #9c3e1a;
}

.primary_container video{
    display: block;
    margin: auto;
    width:50%;
    height:360px;
}
.individual{
    height: auto;
    padding: 3em 0em;
}
.primary_container .videobox {
    padding-top: 0px!important;
    background-color: white;
}
.primary_container video:hover{
    cursor: pointer;
}
.primary_container video::-webkit-media-controls-timeline{
   width: 50%;
   bottom: 0px;
   left:0;
   right:0;
   margin-left:auto;
   margin-right:auto;
   padding: 2px;
   position: absolute;
   background-color: #9C3E1A;
}

.primary_container video::-webkit-media-controls-panel{
    background-image: none!important;
}
.primary_container video::-webkit-media-controls-play-button{ color: red;}
.primary_container video::-webkit-media-controls-volume-slider-container{ display: none;}
.primary_container video::-webkit-media-controls-volume-slider{ display: none;}
.primary_container video::-webkit-media-controls-mute-button{ display: none;}
.primary_container video::-webkit-media-controls-current-time-display{ display: none;}
.primary_container video::-webkit-full-page-media::-webkit-media-controls-panel{background-color: red;}
.primary_container video::-webkit-media-controls-timeline-container{ display: none;}
.primary_container video::-webkit-media-controls-time-remaining-display{display: none;}
.primary_container video::-webkit-media-controls-seek-back-button{display: none;}
.primary_container video::-webkit-media-controls-seek-forward-button{display: none;}
.primary_container video::-webkit-media-controls-fullscreen-button{display: none;}
.primary_container video::-webkit-media-controls-rewind-button{display: none;}
.primary_container video::-webkit-media-controls-return-to-realtime-button{display: none;}
.primary_container video::-webkit-media-controls-toggle-closed-captions-button{display: none;}

/* action bar */
.action_bar{
    background-color: #b3b591;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}
.action_bar .info{
    width: 90%;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.action_bar .info h2{
    color: white;
}
.action_bar .info button{
    margin: .1em;
    padding: .8em;
    background-color: #9C3E1A;
    color: white;
    border: none;
    border-radius: 50px;
}
.action_bar .info button:hover{
    cursor: pointer;
    background-color: #9c3f1aaa;
}

/*footer  */
footer{
    background-color: #3D3E2A;
    padding: 1em;
}
footer legend{
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}
footer div{
    width: 50%;
}
.inner_box{
    width: 100%;
}
footer h2{
    color: white;
    font-size: 1.2em;
}
footer a{
    padding: 1em 1em 1em 0em;
    font-size: 1em;
    text-decoration: none;
    color: white;
}
.useful_links{
    display: flex;
    margin: 0px;
    flex-flow: wrap;
}

footer a:hover{
    color:#9C3E1A;
    background-color: white;
}
.donate{
    padding-top: 1em;
}
.donate .inner_box{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-left: 1em;
}
.donate button{
    border: none;
    font-size: 1em;
    padding: .5em;
    color: white;
    background-color: #8385753b;
    border-radius: 24px;
}
.donate button:hover{
    color: #9C3E1A;
}

.subs_form{
    padding: 1em;
    width: 90%;
    position: absolute;
}
.subs_form .primary_container{
    background-color: white;
    flex-direction: column;
    padding: 1em;
}
.subs_form form input{
    padding: .5em;
    margin: .5em;
    border-radius: 50px;
    border: 1px solid grey;
}
.subs_form form input[type='submit']{
    background-color: #9C3E1A;
    border: none;
    color: white;
}
.subs_form button{
    color: black;
    background-color: white;
    border: none;
    font-weight: 600;
    padding:.3em;
    cursor: pointer;
}
.show_form{
    visibility: visible;
    transform: translatey(-100px);
    transition: 1s;
}
.hide_form{
    visibility: hidden;
    transition: 1s;
}
.swiper {
    width: 600px;
    height: 300px;
  }
/* login and register */
.error_msg{
    position: absolute;
    right: 5%;
    background-color: #D42538;
    border-radius: 20px;
    padding: 10px;
}
.error_msg ul{
    margin: 0px;
    padding: 0px;

    color: white;
}

.register_login{
    width: 50%;
    margin: auto;
}
.register_login form{
    width: 50%;
    border: 1px solid grey;
    padding: 20px;
    margin: 3em auto;
    border-radius: 20px;
}
.register_login form h2{
    text-align: center;
    color: #9C3E1A;
    font-weight: 900;
}
.register_login form p{
    padding: 5px 0px;
}
.register_login form input{
    padding: 10px;
    width: -webkit-fill-available;
    border-radius: 20px;
    border: 1px solid grey;
}
.register_login form input[type='submit']{
    background-color: #9C3E1A;
    color: white;
    border: 3px solid #9C3E1A;
    font-weight: 600;
    margin: 30px 50px 10px 50px;

}
.show_pwd{
    position: relative;
}
.show_pwd i{
    position: absolute;
    top: 32%;
    right: 4%;
}
#s{
    display: block;
}
#h{
    display: none;
}



@media only screen and (max-width:600px) {
    .primary_container{
        flex-direction: column;
    }
    .nav_btn{
        font-size: small;
        text-align: center;
    }
    .inner{
        flex-direction: row;
    }
    .logo{
        text-align: center;
    }
    .banner .banner_text{
        padding: 0em 0em 0em 1.2em;
    }
    .banner_text #st{
        font-size: 1.5em;
    }
    .banner_text #nd{
        font-size: 1.5em;
    }
    #tempicon{
        margin-top:-20px;
    }
    .banner_text i{
        font-size: 0.8em; 
    }
    .inner_box{
        width: 100%;
    }
    .inner_box img {
        width: 100%;
    }
    footer div{
        width: 90%;
    }
    /* current page */
    .current_page .info{
        width: 100%;
    }
    .current_page img{
        padding: 1em 0em 1em 0em;
    }
    .current_page .mob_layout{
        order: 1;
    }
    /* individual page */
    .individual_page table img{
        width: 100%!important;
    }
    .hashtag h2{
        font-size: 1em;
        padding: 1em;
    }
    .register_login{
        width: 100%;
    }
    .register_login form{
        width: 80%;
    }
    .swiper{
        width: 100%!important;
        height: 100%!important;
    }
    .swiper-slide img{
        width: 90%;
    }
}
@media only screen and (min-width:600px){
    .subs_form {
        width: 40%;
        right: 1px;
    }
}


